* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    font-family: "Alice", serif;
    line-height: 150%;
    color: #573A37;
}

body {
    background: #3b2205 url(Assets/bg-image.png);
    background-size:cover;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

#page {
    width: 60vw;
    padding: 1.5rem;
    background-color: #F0E8C2;
    border-radius: 1.5rem;
    margin: 3rem auto 0rem;
}

#image-container {
    margin: 3rem auto 0rem;
}

#image-container img {
    max-width: 100%;
    background-size: contain;
}

main {
    padding: 1.5rem;
}

section+section {
    margin-top: 1.5rem;
}

#about p+p {
    margin-top: 0.75rem;
}

.headings {
    color: #291B1A;
    border-bottom: 0.125rem solid #291B1A;
    margin-bottom: 1.125rem;
    line-height: 150%;
}


#ingredients-list {
    padding-left: 1.5rem;
}

footer {
    text-align: center;
    color: #F0E8C2;
    padding: 2rem;
    font-size: 1rem;
}

@media (max-width: 700px) {
body {
    background-image: none;
}
#page {
    border-radius: 0%;
    width: 100vw;
    margin: 0rem;
}
 }